<h2>Nové inzeráty ve výpisu
  <a href="<%= @request.url %>">
    <% if @request.title %>
        <%= @request.title %>
    <% else %>
        odkaz
    <% end %>
  </a>
</h2>
<br/>
<% @notifications.each do |notification| %>
    <div>
      <%= sanitize(notification.ad_info.shortInfoHtml.gsub(/href="\//, 'href="http://www.sreality.cz/')
                   .gsub(/data-src/, 'src').gsub(/Přidat do oblíbených/, '')) %>
    </div>
<% end %>
<br/>
<br/>
Zrušit sledování můžete <a href="<%= @deleteUrl %>">zde</a>

