<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Sledování inzerátů největšího realitního serveru v ČR. Okamžité informace o nových inzerátech na Váš telefon nebo email.">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="i8QI1fgIB4WHNhU0sSeu4R3cQTgnPYfejlQjgZ67OhQ" />
  <title>Sledování-realit.cz</title>
  <meta property="og:title" content="Sledování-realit.cz"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://sledovani-realit.cz"/>
  <meta property="og:image" content="http://sledovani-realit.cz/assets/sledovani-realit.jpg"/>
  <meta property="og:site_name" content="Sledování realit.cz"/>
  <!--meta property="fb:admins" content="USER_ID"/-->
  <meta property="og:description"
        content="Buďte první, kdo se dozví o nových
inzerátech bytů a domů."/>
  <meta property="og:email" content="kontakt@sledovani-realit.cz" />
  <%= favicon_link_tag 'favicon.ico'%>
</head>
<body>
  <%= javascript_include_tag "application" %>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47065970-1', 'sledovani-realit.cz');
      ga('send', 'pageview');
  </script>
</body>
</html>
