<div class="row collapse">
    <div class="columns">
        <h3>O této službě</h3>
        <h5>Proč jsme službu vytvořili</h5>
        <p>Služba vznikla na základě naší vlastní potřeby. Sháněli jsme s přítelkyní byt a velice často
            se nám stávalo, že ikdyž se objevila vhodná nabídka, tak než jsme se o ní dozvěděly, byla již
            rezervovaná nebo rovnou prodaná. Přeci jen člověk nemá čas (ani možnost) sledovat celý den
            SReality.cz a být připraven s telefonem v ruce. Proto jsme si pomohli touto malou aplikací,
            která za nás inzeráty hlídala a dala nám včas vědět. Do několika týdnů, jsme si našli pěkný byt
        </p>
        <h5>Jak to funguje</h5>
        <p>Aplikace za Vás neustále sleduje stránky SReality.cz (dle nastaveného výpisu) a jakmile
            narazí na nový inzerát, odešle Vám zprávu na emailovou adresu.</p>
        <h5>Podmínky použití služby</h5>
        <div class="panel">
            {{partial 'terms'}}
        </div>
    </div>
</div>

