<div class="row collapse">
    <div class="columns">
        <h3>O této službě</h3>
        <h5>Proč jsme službu vytvořili</h5>

        <p>Služba vznikla na základě naší vlastní potřeby. Sháněli jsme s přítelkyní byt a velice často se nám
            stávalo, že jsme na vhodné nabídky přišli příliš pozdě. Buď již byly rezervované nebo
            rovnou prodané. Přeci jen člověk nemá čas (ani možnost) sledovat celý den
            SReality.cz a být připraven s telefonem v ruce. Proto jsme si pomohli touto malou aplikací,
            která za nás inzeráty hlídala a včas nás informovala. Do několika týdnů, jsme si
            našli pěkný byt za dobrou cenu. Nám tedy aplikace velmi pomohla a doufáme, že Vám pomůže také.
        </p>
        <h5>Jak to funguje</h5>

        <p>Aplikace za Vás neustále sleduje stránky SReality.cz (dle nastaveného filtru) a jakmile
            narazí na nový inzerát, odešle Vám zprávu.</p>

        <div class="panel">
            {{partial 'terms'}}
        </div>
        <h5>Kolik to stojí</h5>
        <p>
            viz {{#link-to 'pricelist'}}Ceník{{/link-to}}
        </p>
            <h5>Jak vás mohu kontaktovat</h5>
            <p>
                <a href="mailto:kontakt@sledovani-realit.cz">kontakt@sledovani-realit.cz</a>
            </p>
    </div>
</div>

