<script type="text/javascript">
    var mlistener = function (event) {
        if (event.origin == 'http://sledovani-realit.cz') {
            alert(window.location.href)
        }
    };
    window.addEventListener('message', mlistener, false);
</script>

<div class="body">

    <header class="row">
        <div class="columns small-12 large-5">
            <h1><a href="/" style="color:inherit;">
                <em>
                    <b style="color:red;">S</b>ledování&nbsp;realit
                    <div class="beta">beta</div>
                </em>
            </a></h1>
        </div>
        <div class="columns small-12 large-7 text-center">
            <menu>
                {{#link-to 'index'}}Hlavní stránka{{/link-to}}
                &nbsp;&nbsp;&nbsp;
                {{#link-to 'about'}}O službě{{/link-to}}
                &nbsp;&nbsp;&nbsp;
                {{#link-to 'pricelist'}}Ceník{{/link-to}}
                &nbsp;&nbsp;&nbsp;
                {{#link-to 'faq'}}Časté dotazy{{/link-to}}
            </menu>
        </div>

    </header>
    {{outlet}}
    <br/>
    <footer class="row">

        <br/>

        <div class="columns text-center" style="margin-top:7px;">
            <small>&copy; 2014 <a href="mailto:dotazy@sledovani-realit.cz">sledovani-realit.cz</a></small>
        </div>
    </footer>

</div>