<header class="row">
    <div class="columns">
        <a href="/"><h1><em><b style="color:red;">S</b>ledování realit</em></h1></a>
    </div>
</header>
<div class="row">
    <div class="columns" style="min-height: 300px;">
        {{outlet}}
    </div>
</div>
<footer class="row">
    <div class="columns text-right">
        &copy; 2014
    </div>
</footer>
