<header class="row">
    <div class="columns">
        <h1><a href="/" style="color:inherit;">
            <em><b style="color:red;">S</b>ledování&nbsp;realit</em>
        </a>
            <div class="beta">beta</div>
        </h1>

    </div>
</header>
{{outlet}}
<br/>
<footer class="row">
    <div class="columns text-center">
        {{#link-to 'index'}}Hlavní stránka{{/link-to}}
        &nbsp;&nbsp;&nbsp;
        {{#link-to 'about'}}O službě{{/link-to}}
        &nbsp;&nbsp;&nbsp;
        {{#link-to 'pricelist'}}Ceník{{/link-to}}
        &nbsp;&nbsp;&nbsp;
        {{#link-to 'faq'}}Časté dotazy{{/link-to}}
    </div>
</footer>
