<header class="row">
    <div class="columns">
        <h1>Sledování realit</h1>
    </div>
</header>
<div class="row">
    <div class="columns" style="min-height: 300px;">
        {{outlet}}
    </div>
</div>
<footer class="row">
    <div class="columns text-right">
        &copy; 2014
    </div>
</footer>
