<div class="row collapse">
    <div class="columns">
        <p class="alert-box alert">
            <br/>
            {{location}}<br/>
            <cite>{{model}}</cite>
            <br/>
            <br/>
            Je nám to velice líto, ale v aplikaci došlo k chybě.
            Pro jistotu můžete zkusit vaši akci zopakovat, pravděpodobně to ale stejně
            nepomůže.<br/>
            V takovém případě budeme velice rádi, pokud nás na problém upozorníte
            emailem. Děkujeme<br/>
            <br/>
            Omlouváme se za způsobené potíže
            <br/>

        </p>
    </div>
</div>