<div class="row colladtse">
    <div class="columns">
        <h3>FAQ</h3>
        <dl>
            <dt>Jak vytvořím nové sledování</dt>
            <dd>Podrobný návod se připravuje...</dd>
        </dl>
        <dl>
            <dt>Co všechno služba umožňuje</dt>
            <dd>
                <ul>
                    <li>sledování vámi nastaveného výpisu ze serveru SReality.cz a upozorňování na nové inzeráty</li>
                    <li>sledování jednotlivých inzerátů a upozorňování v
                        případě změny ceny, výměry, popisu atd... (připravujeme)
                    </li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>Co všechno je možné sledovat</dt>
            <dd>
                Téměř jakoukoliv kategorii inezerátů na server www.sreality.cz - tedy <strong>byty, domy, pozemky,
                nebytové prostory, kanceláře, garáže, ostatní</strong>. Dle dostupných variant je možné sledovat
                <strong>prodej i pronájem</strong>.
            </dd>
        </dl>
        <dl>
            <dt>Proč je omezen počet sledovaných inzerátů</dt>
            <dd>Sledování inzerátů ve velkém množství je dosti náročné
                na výkon. Do <strong>100</strong> inzerátů poskytujeme naši službu zcela zdarma. Pokud potřebujete
                sledovat více
                jak 100 inzerátů, je nutné se domluvit na placeném tarifu viz tabulka níže

            </dd>
        </dl>
        <dl>
            <dt>Kolik to stojí</dt>
            <dd>
                <table>
                    <thead>
                    <tr>
                        <th>Množství inzerátů</th>
                        <th>Cena / měsíc</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>do 100 sledovaných inzerátů</td>
                        <td>zdarma</td>
                    </tr>
                    <tr>
                        <td>do 250 sledovaných inzerátů</td>
                        <td>50 Kč</td>
                    </tr>
                    <tr>
                        <td>více</td>
                        <td>individuální</td>
                    </tr>
                </table>
                <div class="panel" style="margin-top:5px;">V případě zájmu pište na naši e-mailovou adresu
                    <strong><a href="mailto:objednavky@{{GLOBAL_DOMAIN}}">
                        objednavky@sledovani-realit.cz</a></strong>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>Je možné si nechávat zasílat upozornění na telefon</dt>
            <dd>
                Zatím ne. Ale v budoucnu bychom ho rozhodně rádi zavedli
            </dd>
        </dl>

    </div>
</div>

