<div class="row colladtse">
    <div class="columns">
        <h3>FAQ</h3>
        <dl>
            <dt>Jak vytvořím nové sledování</dt>
            <dd>Podrobný návod se připravuje...</dd>
        </dl>

        <dl>
            <dt>Proč je omezen počet sledovaných inzerátů?</dt>
            <dd>Sledování inzerátů ve velkém množství je dosti náročné
                na výkon počitače, museli jsme tedy maximální počet inzerátů omezit.
            </dd>
        </dl>
        <dl>
            <dt>Kolik to stojí?</dt>
            <dd>V tuto chvíli je služba zcela zdarma. S tím ovšem souvisí maximální povolené množství sledovaných
                inzerátů.
                pro uživatele, kterým by toto omezení překáželo, zvažujeme vytvořit i placenou variantu.
            </dd>
        </dl>
    </div>
</div>

