<ol>
    <li>otevřete si <a href="http://www.sreality.cz" target="_blank">www.sreality.cz</a>
    </li>
    <li>na stránkách SReality si najděte inzeráty, které vás zajímají, např. pronájem bytů
        2+kk od 5 000 do 10 000 a potvrďte tlačítkem <strong>Vyhledat</strong><br/>
        <img {{bind-attr src=assets.sr3}}>
    </li>
    <li>zkopírujte URL adresu z adresního řádku a vložte ji do připraveného pole v
        horní části této stránky s označením <strong>Adresa</strong><br/>
        <img {{bind-attr src=assets.sr2}}><br/>
        <i>
            <small>označte text, stiskněte pravé tlačítko a vyberte zkopírovat, případně
                označte text a stiskněte <kbd>Ctrl</kbd> + <kbd>C</kbd></small>
        </i>
    </li>
    <li>potvrďte tlačítkem <strong>Odeslat</strong></li>
</ol>
