<br/>
<div class="row collapse">
    <div class="columns">
        <div data-alert class="alert-box success radius"><p>
            Vaše sledování bylo úspěšně zadáno pod číslem {{id}}.<br/>

            Veškeré potřebné informace Vám byl zaslány na emailovou adresu:
            <strong>{{email}}</strong>
            </p>
            V případě, že by Vám email nedorazil, kontaktuje nás na adrese:
            <a href="mailto:info@{{GLOBAL_DOMAIN}}">info@{{GLOBAL_DOMAIN}}</a>
        </div>
    </div>
</div>

