<table>
    <thead>
    <tr>
        <th>Množství inzerátů</th>
        <th class="current">Cena / měsíc v
            <em title="Zkušební období" class="highlight-beta">beta provozu</em> (do 22.3. 2014)</th>
        <th>Cena / měsíc po ostrém spuštění</th>
    </tr>
    </thead>
    <tr>
        <td>do 100 sledovaných inzerátů</td>
        <td class="current">zdarma</td>
        <td>zdarma</td>
    </tr>
    <tr>
        <td>do 500 sledovaných inzerátů</td>
        <td class="current">50 Kč</td>
        <td>70 Kč</td>
    </tr>
    <tr>
        <td>do 5000 sledovaných inzerátů</td>
        <td class="current">149 Kč</td>
        <td>199 Kč</td>
    </tr>
    <tr>
        <td>více</td>
        <td class="current">individuální</td>
        <td>individuální</td>
    </tr>
</table>
<div class="panel" style="margin-top:5px;">
    Bežný tarif si můžete objednat na {{#link-to 'index'}}hlavní stránce{{/link-to}}.
    Po vyplnění formuláře Vám přijdou na email údaje pro SMS platbu.<br/>
    V případě zájmu o individuální nabídku, pište na naši e-mailovou adresu
    <strong><a href="mailto:objednavky@{{GLOBAL_DOMAIN}}">
        objednavky@sledovani-realit.cz</a></strong>.<br/>
</div>
<div style="font-size:85%;padding-top: 10px;color:#666666">Službu technicky zajišťuje Airtoy a.s. Relamace plateb
    na reklamace@airtoy.cz nebo lince 602 777 555, 9 - 17 hodin, Po-Pá, <a style="color:#666666"
                                                                           href="http://www.platmobilem.cz">www.platmobilem.cz</a>.</br>
    Kontakt na provozovatele sluzby:<a style="color:#666666" href="mailto:sms@sledovani-realit.cz">sms@sledovani-realit.cz</a>
</div>