<table>
    <thead>
    <tr>
        <th>Množství inzerátů</th>
        <th>Cena / měsíc</th>
    </tr>
    </thead>
    <tr>
        <td>do 100 sledovaných inzerátů</td>
        <td>zdarma</td>
    </tr>
    <tr>
        <td>do 250 sledovaných inzerátů</td>
        <td>50 Kč</td>
    </tr>
    <tr>
        <td>více</td>
        <td>individuální</td>
    </tr>
</table>
<div class="panel" style="margin-top:5px;">V případě zájmu pište na naši e-mailovou adresu
    <strong><a href="mailto:objednavky@{{GLOBAL_DOMAIN}}">
        objednavky@sledovani-realit.cz</a></strong>
</div>