<h5 class="text-center"><strong>Podmínky použití služby</strong></h5>
<h6>Práva a povinnosti provozovatele</h6>
<ol>
    <li>Tato služba je poskytována v dobré vůli a "tak jak je". Bez jakýchkoliv záruk.</li>
    <li>Provozovatel neručí
        za škody ať majetkové, nemajetkové, fyzické, psychické či jiné, které by
        použitím služby mohly vzniknout.
    </li>
    <li>Provozovatel si vyhrazuje právo změnit cenu svých služeb za dodržení následujících podmínek
        <ol>
            <li>Uživatelé služby budou o změně informování měsíc předem</li>
            <li>Cena může být změněna pouze v následujícím zúčtovacím období
                (cena nemůže být změněna zpětně za již dodané nebo předplacené služby)
            </li>
        </ol>
    </li>
    <li>Vyjímky platící pro BETA provoz:
        <ol>
            <li>Uživatelé nemusejí být o změně ceny informování předem</li>
        </ol>
    </li>
</ol>
<h6>Práva a povinnosti zákazníka</h6>
<ol>
    <li>Zákazník má nárok na vrácení poměrné částky v případě poruchy, či odstávky služby</li>
    <li>Zákazník ani uživatel bezplatné verze nesmí tuto službu nabízet / přeprodávat třetím
        stranám bez písemného souhlasu provozovatele
    </li>
</ol>