<h5 class="text-center"><strong>Podmínky použití služby</strong></h5>
<ol>
    <li>Tato služba je poskytována v dobré vůli a "tak jak je". Bez jakýchkoliv záruk.</li>
    <li>Provozovatel neručí
        za škody ať majetkové, nemajetkové, fyzické, psychické či jiné, které by
        použitím služby mohly vzniknout.</li>
</ol>